@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.Page {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 65px;
  font-family: 'Roboto', sans-serif;
}

.button {
  border-radius: 9px;
  background-color: #385dad;;
  width: 125px;
  height: 60px;
  margin: 10px 25px;
  font-size: 23px;
  box-shadow: 8px 7px 7px #888878;
  cursor: pointer;
  color:white;
  border-width: 0;
  transition: background-color 0.5s ease
}

.button:hover {
  background-color: #1d3568;
  box-shadow: 7px 6px 9px #888878
}
